.calculator {
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 350px;
}

.display {
    font-size: 32px;
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: right;
}

.total {
    color: #888;
    font-size: 19px;
    margin-bottom: 3px;
}

.value {
    font-size: 35px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    font-size: 24px;
    padding: 11px 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:active {
    background-color: #e0e0e0;
}